rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /events/{eventId} {
      allow read;
      allow create: if request.auth != null && request.auth.token.admin == true;

      match /responses/{responseId} {
        // Anyone can read, create, or update responses (no auth required)
        allow read, create, update;
      }
    }
  }
}
